<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<p>
    <a href="/homepage">Back to Homepage</a>
</p>
<h1>Do you really want to delete this Blob</h1>
<h1 th:text="${blog.title}"></h1>
<!--<input type="submit" value="YES">-->
<form action="/delete" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="${blog.id}">
    <input type="submit" value="YES">
</form>
<a href="/homepage">
    <button>NO</button>
</a>

</body>
</html>