<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Detail</title>

</head>

<h1>Edit Blog</h1>

<form action="/edit" method="post" th:object="${blog}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <h3>Title</h3>
    <input type="text" th:field="*{title}" name="title"/>
    <h3>Content</h3>
    <textarea th:field="*{content}" name="content" cols="100" rows="20"></textarea>>
    <br>
    <input type="submit" value="SAVE">
</form>
<a href="/homepage">
    <button>NO</button>
</a>
</body>
</html>